<!DOCTYPE html>
<html>
<title>WineLovers</title>
<link rel="shortcut icon" href="https://img.pixers.pics/pho_wat(s3:700/FO/58/19/15/32/700_FO58191532_419f0e8868f635c0fe5a9a9262551231.jpg,467,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,247,650,jpg)/wall-murals-wine-bottle-pouring-to-wine-glass.jpg.jpg" />
<link rel="stylesheet" href="/index.css">
<body>

<h2>Welcome to WineLovers website</h2>
<div class="container" id="container">

	

	
        
		<form  action="/auth/changeUserPassword" method="POST">
            {{#if message}}
                <h2 style="color:red;" > {{message}}</h2>
            {{/if}}

			<h1>Forgot your password</h1>
			<span>Write your email to send you new login Password</span>
			<input type="email" placeholder="Email" name="email" required />
            <input type="password" placeholder="Old Password.." name="oldPassword" required />
            <input type="password" placeholder="New Password.." name="newPassword" required />
            <input type="password" placeholder="Confirm New Password.." name="ConfirmNewPassword" required />
			<button type="submit">Change password</button>
		</form>
	


	
</div>

<footer>
	<p>
		Created by <i class="fa fa-heart"></i> 
		<a target="_blank" href="#">Dimitrios Siamplis</a>
		- University of Patras
		<a target="_blank" href="https://www.upatras.gr/">here</a>.
	</p>
</footer>

<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });
</script>

</body>
</html>