<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
     <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/jumbotron/">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
     <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/navbar-static/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static.css">
    <title>WineLovers</title>
    <link rel="shortcut icon" href="https://img.pixers.pics/pho_wat(s3:700/FO/58/19/15/32/700_FO58191532_419f0e8868f635c0fe5a9a9262551231.jpg,467,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,247,650,jpg)/wall-murals-wine-bottle-pouring-to-wine-glass.jpg.jpg" />
</head>
<body>
   
    <div class="navbar">
        <a  href="/home"><i class="fa fa-fw fa-home"></i> Home</a> 
        <a href="/wines/1"><i class="fas fa-wine-bottle"></i> Wines</a> 
        <a href="/profile/{{id}}"><i class="fas fa-user-alt"></i> Profile</a> 
        <a href="/cart"><i class="fas fa-shopping-cart"></i> Cart</a> 
        <a href="/history"><i class="fas fa-info-circle"></i> History</a> 
        <a href="/addWine"><i class="fas fa-plus-circle"></i> Add Wine</a>
        <a class="active" href="/statistic"><i class="	fas fa-poll"></i> Statistic</a>
        <a href="/blog"><i class="fas fa-blog"></i> Blog</a>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>

    </div>
    

    <main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        
        <span class="fs-4">WineLovers Website</span>
      </a>
    </header>

    

    

    <div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8">

                <div class="feedback" > <img src="https://i.imgur.com/O18mJ1K.png" width="100" class="mb-4">
                    <h3>Thank&nbsp;you&nbsp;for&nbsp;your&nbsp;feedback!</h3> <span>Thanks for your valuable information. It helps us to improve our services!</span>
                </div>
        </div>
    </div>
</div>

    

    <footer class="pt-3 mt-4 text-muted border-top">

      <p><a class="footerClass" href="/home/aboutUs" >About Us</a> <a  class="footerClass" href="/home/contuctUs" >Contuct Us</a> <a class="footerClass"  href="/home/news" >News</a></p>
      
      
      &copy; 2021 WineLovers Copy rights
         
    </footer>
  </div>
</main>

</body>
</html>


