.item{
    margin-top: 5%; 
    
}

.image {
    width: 11%;
    height: 100%;
}
.image:hover{
    transform: scale(1.8);
    opacity: 0.8;
    cursor: pointer;
}

.twoDivs{
    display: flex;
}

.filters{
    width: 20%;
    margin-top: 4%;
    margin-left: 2%;
    /* border: 1px solid; */
    /* box-shadow: 2px 3px rgb(133, 92, 92); */
    height: 500px;
}

.modalTitle{
    font-size: 15px;
}

.mb-3{
    font-size: 13px;
}

.showFilters{
    margin-top: 3%;
    margin-left: 3%;
    font-size: 21px;
}

.showFilters:hover{
    font-size: 23px;
    cursor: pointer;
}


.alertCardMessage{
    margin-left: 90%;
    margin-right: 1%;
    margin-top: 2%;
    /* top: 30px; */
    top: 5%;
    right: 0px;
    opacity: 0.9;
    z-index: 1000;
    position: fixed;
    width: 30%;
   
}