input {
    height: 35px;
}

.loginAlert{
    margin-top: 3%;
    margin-right: 20%;
    margin-left: 20%;
}


.night{
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 1%;
}